* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background-blue {
    background-color: rgb(34, 64, 104);
}


.container {
    margin: auto;
    width: 1100px;
}

.section {
    padding-top: 12px;
}

.left{
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    margin-right: 40px;
}

header ul li {
    font-size: 9px;
    padding-right: 10px;
    padding-left: 15px;
    padding-bottom: 50px;
    display: inline-block;    
}

header ul li a {
    line-height: 50px;
    color: rgb(255, 255, 255);
    padding-right:5 px;
    text-decoration: none;
}

li a {
    text-transform: uppercase;
}


.transp-button {
    background-color: transparent;
    border: 1px solid rgb(250, 250, 250);
}

.green-button {
    background-color: rgb(45, 162, 45);
    border: none;
}

button {
    color: white;
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 5px;    
}

.hero {
    background-image: url(img/background-header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right ; 
    height: 400px;  
}

.col-2 {
    width: 50%;
}

.wrap-h1 {
    height: 100%;
    position: relative;
}

.content-h1 {
    position: absolute;
    top: 30%;
    transform: translate(0, -30%);
}

.hero-content {
    height: 100%;
}

.hero button.green-button {
    padding: 20px 20px;
    margin-top: 20px;
}

.background-gray {
    background-color: rgb(179, 179, 179);
}

.wrap-aside {
    text-align: center;
    padding: 20px;
}

.wrap-aside h5 {
    font-size: 21px;
    margin-bottom: 4px;
}

.wrap-aside p {
    font-size: 16px;
    color: rgb(94, 94, 94);
}

.wrap-h1 h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.col3 {
    text-align: center;
    width: 30%;
}

.align {
    margin-right: 50px;
    margin-left: 30px;
}
.wrapper-img {
    width: 38%;
    height: 180px;
    margin: auto;
}

.col3 h3 {
    font-size: 22px;
    margin-bottom: 18px;
    color: rgb(159, 214, 38);
}

.interlinea{
    width: 25%;
    margin: auto;
    border-top: 2px solid rgb(160, 160, 160);
    margin-bottom: 15px;
}

.col3 p {
    color: rgb(140, 140, 140);
}

.col-2 {
    width: 50%;
    padding: 60px 120px 60px 60px;
}

.col-2 img {
    width: 90%;
    margin: auto;
}

.col-2 p {
    margin-bottom: 25px;
    color: rgb(140, 140, 140);
}

.col-2 a {
    color: rgb(56, 147, 216);
}

.col-2 h3 {
    margin-bottom: 15px;
    font-size: 25px;
}

.action {
    display: inline-block;
}

footer {
    line-height: 110px;
}

form > * {
    margin-left: 18px;
}

select {
    border-bottom: 1px solid rgb(135, 135, 135);
    color: rgb(143, 143, 143);
    border: none;
    text-decoration: underline;
    background-color: transparent;
}

button {
    padding: 15px 10px;
}

#help-button {
    padding: 10px;
    position: fixed;
    bottom: 0px;
    right: 48px;
}

hr {    
    border-top: 1px solid rgb(186, 186, 186);
    width: 98%;
    margin-top: 18px;
    margin: auto;
}
  